html, body {
  height: 100%;
  background: #000;
}
section {
  margin: 0;
  padding: 0;
}
.test-pane1, .test-pane2, .test-pane3 {
  background-image: url(" http://placehold.it/750x550");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.content-side {
  background-color: #fab700;
  opacity: 0.5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 9em;
  height: 50vh;
}
@media (min-width: 768px) {
.col-sm-6 {
    width: 50%;
}
.content-side {
  height: 100vh;
}
.test-pane1, .test-pane2, .test-pane3 {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: static;
  height: 100vh;
  transition: .7s ease-in-out;
}
.test-pane1 {
  background-image: url(" http://placehold.it/750x550");
}
.test-pane2 {
  background-image: url(" http://placehold.it/250x350");
}
.test-pane3 {
  background-image: url(" http://placehold.it/850x650");
}
}